.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #FFFFFF;
    border-bottom: #0059b2 10px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    padding: 19px 24px;
    flex-direction: row;
    border-bottom: 1px solid #D9D9D9;

}

.wrapper .title {
    font-size: 18px;
}

.wrapper .buttonClose {
    width: 18px;
    height: 18px;
}

.wrapper .buttonClose:hover {
    color: #b21232;
}

.wrapper .nameInput {
    margin: 35px 24px 0;
    width: 347px;
}

.wrapper .checkbox {
    margin: 30px 24px 0;
}

.buttonBox {
    display: flex;
    flex-basis: 36px;
    justify-content: space-between;
    margin: 35px 24px 47px;
}

.buttonBox .cancel {
    width: 127px;
    border-radius: 30px;
    background-color: #FCFCFC;
    color: #000000;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3)
}

.buttonBox .save {
    width: 127px;
    border-radius: 30px;
    background-color: #366EFF;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3)
}

.buttonBox .delete {
    width: 127px;
    border-radius: 30px;
    background-color: #FF3636;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3)
}

.description {
    font-size: 14px;
    line-height: 24px;
}

.deleteBox {
    margin: 30px 13px 0 24px;
}
.deleteName {
    font-weight: bold;
    word-wrap: break-word;
}

.selectQuestion {
    margin-top: 21px;
    margin-left: 24px;
}

.questionFormat {
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.5
}

.questionFormatInput {
    height: 36px;
    width: 347px;
}

.uploadButtons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 350px;
}
.questionImg {
    display: block;
    margin: -9px auto 10px;
    max-height: 108px;
    max-width: 170px;
}
.answerImg {
    display: block;
    margin: 10px auto -13px;
    max-height: 120px;
    max-width: 170px;
}

.invisibleInput {
    display: none;
}

.label {
    width: 0;
    height: 0;
}

.deckCover {
    margin-top: auto;
    margin-left: 120px;
}

.imageWrapper {
    width: 160px;
    height: 160px;

}

.addImage {
    width: 160px;
    height: 160px;
}

.addImage :hover {
    background-color: #0059b2;
}

.invisibleInput {
    display: none;
}

.editPack {
    min-height: 407px;
}