.button {
    width: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 24px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.default {
    background: #0066CC;
    color: #FFFFFF;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
}

.disabled {
    background: #0066CC;
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background: none;
    border: 1px solid #0066CC;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}

.default:active {
    background: #0059B2;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B21232;
}
