.wrapper {
  padding: 0 136px;
  margin-top: 36px;
}
.icons {
  display: flex;
  justify-content: space-between;
  max-width: 252px;
}
.title {
  text-align: center;
  font-size: 27px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  margin-bottom: 24px;
}

.button {
  width: 175px;
  height: 36px;
}

.headCell {
  background-color: #EFEFEF;
}
