.wrapper {
  padding: 0 136px;
  margin-top: 36px;
  /*align-content: space-between;*/
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*margin-left: 61px;*/
}
.title {
  text-align: center;
  font-size: 27px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 1008px;
  display: flex;
  /*align-content: space-between !important;*/
  margin-bottom: -110px;
}

.button {
  width: 175px;
  height: 36px;
}

.table {
  margin-top: 120px;
}

.headCell {
  background-color: #EFEFEF;
  /*padding-left: 36px;*/
}
