.titleButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 175px;
    height: 36px;
}

.learnButton {
    margin-right: auto;
    cursor: pointer;
    border: none;
    background: none;
    box-shadow: none;
    color: #fff;
}

.learnIcon {
    height: 21px;
    width: 21px;
    margin-top: 2px;
}