.wrapper {
    margin-top: 36px;
    padding: 0 136px 48px 136px;
}
.content {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 12px;
    width: 413px;
}
.wrapperLogOut{
    padding-bottom: 48px;
}

.invisibleInput {
    display: none;
}

.uploadFile {
    width: 32px;
    height: 32px;
}

.uploadFile :hover {
    width: 40px;
    height: 40px;
}

.uploadImg {
    width: 32px;
    height: 32px;
}

.profileAvatar {
    width: 100px;
}
