.textWithButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 300px;
    margin-top: 280px;
    margin-left: 100px;
}

.text {
    margin-bottom: 40px;
}
.button {
    width: 218px;
    margin-left: -6px;
}

.image {
    display: flex;
    margin-left: 350px;
    margin-top: -340px;
}