.sliderWrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.numberWrapper {
    display: flex;
    min-width: 38px;
    align-items: center;
    justify-content: center;
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.spanNumber {
    min-width: 10px;
    height: 20px;
}