.input:focus {
  outline: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.superInput {
  width: 372px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  padding-left: 12px;
}

.errorInput {
  border: 2px solid red;
}

.errorInput:focus {
  border: 3px solid red;
}

.error {
  order: -1;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #cc1439;
  font-size: 16px;
  margin-bottom: 5px;
}

.addNewStyleInput {
  background: #d8fffe;
}
