.wrapper {
  padding-top: 30px;
  margin-bottom: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.isActive {
  color: #0059b2;
}

.button {
  width: 113px;
}
