.topNav {
  padding: 0 136px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.isActive {
  color: #0059b2;
}

.mainLogo {
  width:173px;
  cursor: pointer;
  height:41px;
  justify-content: center;
}

.button {
  width: 113px;
}

.userProfile {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.menuItem{
  width: 120px;
  padding: 5px 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
}
.titleName{
  color: #000000
}

.avatar{
  padding-top: 12px;
  width: 36px;
  height: 36px;
}

.profileUserLogo{
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 5px;
}

.menuButton {
  /*margin-top: 12px;*/
  display: flex;
  height: 50px;
}

.userName {
  color: black;
  text-decoration: underline;
}


.userAvatar {
  margin-top: 12px;
  width: 36px;
  height: 36px;
}

.logoutIcon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menuProfileLogo {
  width: 12px;
  height: 12px;
  margin-right: 3px
}

.menuLogoutLogo {
  width: 20px;
  height: 20px;
  margin-left: -6px
}

.menu {

}