.wrapper {
  padding-top: 30px;
  margin-bottom: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.isActive {
  color: #0059b2;
}

.main_logo {
   width:173px;
   height:41px;
   margin-left: 136px;
}

.button {
  width: 113px;
  margin-right: 136px;
}

.userProfile {
  font-size: 16px;
  font-weight: 500;
  margin-right: 136px;
  text-decoration: underline dotted
}