body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: #faf7f8;
  width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:active,
a:hover,
a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-weight: 400;
}
