body {
  margin: 0;
  font-family:Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000000;
}
.active {
  color: #0059B2;
}
