/*общий блок CheckEmail*/
.checkEmail {
    display: flex;

    /*располоение элементов в блоке в колонку*/
    flex-direction: column;

    /*границы общего блока*/
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);

    /*размеры блока*/
    width: 413px;
    height: 408px;

    /*отступы*/
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    /*расположение по центру*/
    align-items: center;
}

.checkEmail .title {
    /*расположение*/
    margin-top: 35px;
    margin-left: 123px;
    margin-right: 123px;
    /*текст*/
    color: #000000;
    font-size: 26px;
    line-height: 32px;
}

.checkEmail .messageIcon {
    margin-top: 29px;
}

.checkEmail .description {
    /*расположение*/
    margin: 31px 0 0;

    /*текст*/
    width: 328px;
    color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}

.checkEmail .button {
    /*расположение*/
    margin-top: 41px;

    /*текст*/
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    /*отменяет uppercase названия кнопки*/
    text-transform: none;

    /*настройки размеров кнопки*/
    width: 347px;
    height: 36px;
    /*радиус*/
    border-radius: 30px;
    /*тени*/
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}