
/*общий блок forgotPassword*/
.forgotPassword {
  display: flex;

  /*располоение элементов в блоке в колонку*/
  flex-direction: column;

  /*границы общего блока*/
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);

  /*размеры блока*/
  width: 413px;
  height: 456px;

  /*отступы*/
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  /*расположение по центру*/
  align-items: center;
}

/*title*/
.forgotPassword .title {
  /*расположение*/
  margin-top: 35px;

  /*текст*/
  color: #000000;
  font-size: 26px;
  line-height: 32px;
}

/*textField*/
.forgotPassword .textField {
  /*расположение*/
  margin-top: 54px; /*54.19px*/

  /*настройки размеров ширины*/
  width: 347px;
}

/*описание*/
.forgotPassword .description {
  /*расположение*/
  margin: 26px 33px 0; /*25.93px*/

  /*текст*/
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
}

/*кнопка Send Instruction*/
.forgotPassword .button {
  /*расположение*/
  margin-top: 65px;

  /*текст*/
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  /*отменяет uppercase названия кнопки*/
  text-transform: none;

  /*настройки размеров кнопки*/
  width: 347px;
  height: 36px;
  /*радиус*/
  border-radius: 30px;
  /*тени*/
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

/*did you rememder*/
.forgotPassword .rememberPassword {
  /*расположение*/
  margin-top: 31px;

  /*текст*/
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
}

/*ссылка на восстановление пароля*/
.forgotPassword .link {
  /*расположение*/
  margin-top: 11px;

  /*текст*/
  font-size: 16px;
  color: #366EFF;
  text-decoration-line: underline;
}
