.wrapper {
  padding: 0 136px;
  margin-top: 36px;
  align-content: space-between;
}

.title {
  text-align: center;
  font-size: 27px;
}

.button {
  width: 175px;
  height: 36px;
}

.headCell {
  background-color: #EFEFEF;
}
