.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  align-content: space-between;
}

.title {
  text-align: center;
  font-size: 27px;
}

.button {
  width: 175px;
  height: 36px;
}

.table {
  margin-top: 120px;
}

.headCell {
  background-color: #EFEFEF;
  /*padding-left: 36px;*/
}
